#include "keycodes.h"

/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
          ╰────────────╯ ╰────────────╯
*/

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(kp_q, ___Q___, 1 2, DEF)
COMBO(kp_b, ___B___, 2 3, DEF)
COMBO(kp_j, ___J___, 6 7, DEF)
COMBO(kp_z, ___Z___, 7 8, DEF)

COMBO(undo, MAC_UNDO, 20 21, DEF)
COMBO(redo, MAC_REDO, 20 10, DEF)
COMBO(cut, MAC_COPY, 21 22, DEF)
COMBO(paste, MAC_CUT, 21 23, DEF)
COMBO(copy, MAC_PASTE, 22 23, DEF)
COMBO(select_all, MAC_SELECT_ALL, 20 23, DEF)

COMBO(aelig, _AELIG_, 26 27, DEF)
COMBO(oslsh, _OSLSH_, 27 28, DEF)
COMBO(aring, _ARING_, 28 29, DEF)
