/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
          ╰────────────╯ ╰────────────╯
*/

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(undo, &kp LC(Z), 20 21, BASE)
COMBO(cut, &kp LC(X), 21 23, BASE)
COMBO(copy, &kp LC(C), 21 22, BASE)
COMBO(paste, &kp LC(V), 21 22 23, BASE)
COMBO(select_all, &kp LC(A), 20 23, BASE)
