#include "keycodes.h"

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮ 30  31  32 │ │ 33  34  35 ╭───────╯
          ╰────────────╯ ╰────────────╯
*/
COMBO(tab_left, o_TABL_, 27 28, DEF)
COMBO(tab_right, o_TABR_, 28 29, DEF

COMBO(aelig, _AELIG_, 8 9, DEF)
COMBO(oslsh, _OSLSH_, 9 19, DEF)
COMBO(aring, _ARING_, 19 29, DEF)

COMBO(num_1, ___1___, 11 26, DEF)
COMBO(num_2, ___2___, 11 27, DEF)
COMBO(num_3, ___3___, 11 28, DEF)
COMBO(num_4, ___4___, 11 16, DEF)
COMBO(num_5, ___5___, 11 17, DEF)
COMBO(num_6, ___6___, 11 18, DEF)
COMBO(num_7, ___7___, 11 6, DEF)
COMBO(num_8, ___8___, 11 7, DEF)
COMBO(num_9, ___9___, 11 8, DEF)
COMBO(num_0, ___0___, 11 15, DEF)

COMBO(undo, MAC_UNDO, 20 21, DEF)
COMBO(redo, MAC_REDO, 20 10, DEF)
COMBO(copy, MAC_COPY, 21 22, DEF)
COMBO(cut, MAC_CUT, 21 23, DEF)
COMBO(paste, MAC_PASTE, 22 23, DEF)
COMBO(select_all, MAC_SELECT_ALL, 20 23, DEF)

COMBO(enter, _ENTER_, 16 17, DEF NAV)
COMBO(backspace, _BKSPC_, 6 7, DEF NAV)
COMBO(tab, __TAB__, 26 27, DEF NAV)
COMBO(escape, __ESC__, 0 1, DEF NAV)

COMBO(left_parenthesis, _LPARN_, 13 16, DEF)
COMBO(left_brace, _LBRAC_, 13 17, DEF)
COMBO(left_bracket, _LBRAC_, 13 18, DEF)
COMBO(less_than, _LABRC_, 13 19, DEF)
COMBO(right_parenthesis, _RPARN_, 13 6, DEF)
COMBO(right_brace, _RBRAC_, 13 7, DEF)
COMBO(right_bracket, _RBRAC_, 13 8, DEF)
COMBO(more_than, _RABRC_, 13 9, DEF)


/*
COMBO(kp_q, ___Q___, 1 2, DEF)
COMBO(kp_b, ___B___, 2 3, DEF)
COMBO(kp_j, ___J___, 6 7, DEF)
COMBO(kp_z, ___Z___, 7 8, DEF)

COMBO(undo, MAC_UNDO, 20 21, DEF HDG)
COMBO(redo, MAC_REDO, 20 10, DEF HDG)
COMBO(copy, MAC_COPY, 21 22, DEF HDG)
COMBO(cut, MAC_CUT, 21 23, DEF HDG)
COMBO(paste, MAC_PASTE, 22 23, DEF HDG)
COMBO(select_all, MAC_SELECT_ALL, 20 23, DEF HDG)

COMBO(aelig, _AELIG_, 26 27, DEF HDG)
COMBO(oslsh, _OSLSH_, 27 28, DEF HDG)
COMBO(aring, _ARING_, 28 29, DEF HDG)

COMBO(num_1, ___1___, 33 21, DEF HDG)
COMBO(num_2, ___2___, 33 22, DEF HDG)
COMBO(num_3, ___3___, 33 23, DEF HDG)
COMBO(num_4, ___4___, 33 11, DEF HDG)
COMBO(num_5, ___5___, 33 12, DEF HDG)
COMBO(num_6, ___6___, 33 13, DEF HDG)
COMBO(num_7, ___7___, 33 1, DEF HDG)
COMBO(num_8, ___8___, 33 2, DEF HDG)
COMBO(num_9, ___9___, 33 3, DEF HDG)
COMBO(num_0, ___0___, 33 31, DEF HDG)


combo_pm {
  bindings = <&macro_pm>;
  key-positions = <2 3>;
  layers = <HDG>;
};
*/
