hm: homerow_mods {
  compatible = "zmk,behavior-hold-tap";
  label = "HOMEROW_MODS";
  #binding-cells = <2>;
  tapping_term_ms = <300>;
  flavor = "tap-preferred";
  bindings = <&kp>, <&kp>;
};


#define o__S__o &hm LEFT_SHIFT S
#define o__H__o &hm LEFT_CONTROL H
#define o__N__o &hm LEFT_ALT N
#define o__T__o &hm LEFT_GUI T

#define o__E__o &hm RIGHT_GUI E
#define o__A__o &hm RIGHT_ALT A
#define o__I__o &hm RIGHT_CONTROL I
#define o__O__o &hm RIGHT_SHIFT O

#define _HMLS  &hm LEFT_SHIFT
#define _HMLC  &hm LEFT_CONTROL
#define _HMLA  &hm LEFT_ALT
#define _HMLG  &hm LEFT_GUI

#define _HMRS  &hm RIGHT_SHIFT
#define _HMRC  &hm RIGHT_CONTROL
#define _HMRA  &hm RIGHT_ALT
#define _HMRG  &hm RIGHT_GUI
