#define h__S__h &hm LEFT_SHIFT S
#define h__H__h &hm LEFT_CONTROL H
#define h__N__h &hm LEFT_ALT N
#define h__T__h &hm LEFT_GUI T

#define h__E__h &hm RIGHT_GUI E
#define h__A__h &hm RIGHT_ALT A
#define h__I__h &hm RIGHT_CONTROL I
#define h__O__h &hm RIGHT_SHIFT O
